In [2]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import time
import warnings 
warnings.filterwarnings('ignore')

## 지표 불러오기 (접어두기)

In [63]:
# idx_lst = []
# url = 'https://finance.naver.com/item/main.naver?code=066570'
# res = requests.get(url)
# soup = BeautifulSoup(res.text,'html.parser')
# section = soup.find_all('tbody')[2]
# for n in range(8,23+1):
#     idx_lst.append(section.find('th', attrs={'class':f'h_th2 th_cop_anal{n}'}).get_text())

# idx_lst
# 아 얘네 왜 순서대로 값 안넣어놔............

['매출액',
 '영업이익',
 '당기순이익',
 '영업이익률',
 '순이익률',
 'ROE(지배주주)',
 '부채비율',
 '당좌비율',
 '유보율',
 'EPS(원)',
 'BPS(원)',
 '주당배당금(원)',
 'PER(배)',
 'PBR(배)',
 '시가배당률(%)',
 '배당성향(%)']

# 기업 리스트

|ticker|name|url|
|:--:|:--:|:--:|
|005930|삼성전자|https://finance.naver.com/item/main.naver?code=005930|
|035720|카카오|https://finance.naver.com/item/main.naver?code=035720|
|066570|LG전자|https://finance.naver.com/item/main.naver?code=066570|
|035420|네이버|https://finance.naver.com/item/main.naver?code=035420|
|304100|솔트룩스|https://finance.naver.com/item/main.naver?code=304100|

In [57]:
idx = ['매출액', '영업이익', '당기순이익', '영업이익률', '순이익률', 'ROE(지배주주)', '부채비율', '당좌비율', '유보율', 'EPS(원)','PER(배)', 'BPS(원)','PBR(배)', '주당배당금(원)',   '시가배당률(%)',
 '배당성향(%)']

In [58]:
def get_value(tick):
    value = []
    url = 'https://finance.naver.com/item/main.naver?code='+tick
    res = requests.get(url)
    soup = BeautifulSoup(res.text,'html.parser')
    section = soup.find_all('tbody')[2]

    for i in range(15+1):
        temp = section.find_all('tr')[i]
        try :
            
            if temp.find('td',attrs={" t_line cell_strong"}) == None:  # 22년 발표 안된 경우 21년도 데이터 가져옴 
                part = temp.find_all('td',attrs={""})[2]
                value.append(part.get_text().strip()+'(21)')  
            
            else:
                part = temp.find('td',attrs={" t_line cell_strong"})
                value.append(part.get_text().strip())
        except: # 값이 엾을 경우 공백처리 
            value.append('-')

        time.sleep(1)
        
    df = pd.DataFrame({'지표':idx,'value':value})
    return df

In [59]:
LG전자 = get_value('066570')
솔트룩스 = get_value('304100')

In [61]:
LG전자

           지표         value
0         매출액       844,421
1        영업이익        39,340
2       당기순이익        21,894
3       영업이익률          4.66
4        순이익률          2.59
5   ROE(지배주주)          9.10
6        부채비율    166.10(21)
7        당좌비율     71.71(21)
8         유보율  1,933.04(21)
9      EPS(원)         9,331
10     PER(배)          9.27
11     BPS(원)       110,232
12     PBR(배)          0.78
13   주당배당금(원)           966
14   시가배당률(%)      0.62(21)
15    배당성향(%)     14.92(21)

In [60]:
솔트룩스

           지표       value
0         매출액         302
1        영업이익         -21
2       당기순이익          -8
3       영업이익률       -6.95
4        순이익률       -2.65
5   ROE(지배주주)   -9.13(21)
6        부채비율   47.46(21)
7        당좌비율  129.54(21)
8         유보율  932.41(21)
9      EPS(원)         -78
10     PER(배)     -317.68
11     BPS(원)   5,202(21)
12     PBR(배)    3.17(21)
13   주당배당금(원)           -
14   시가배당률(%)           -
15    배당성향(%)           -